## Documentation: http://docs.travis-ci.org/user/languages/julia/
language: julia
os:
  - linux
  - windows
julia:
  - 1.2
  - 1.3
  - nightly


codecov: true

notifications:
  email: false

## uncomment the following lines to allow failures on nightly julia
## (tests will run but not make your overall status red)
matrix:
  allow_failures:
  - julia: nightly

## uncomment and modify the following lines to manually install system packages
#addons:
#  apt: # apt-get for linux
#    packages:
#    - gfortran
#before_script: # homebrew for mac
#  - if [ $TRAVIS_OS_NAME = osx ]; then brew install gcc; fi
